{% extends "default.html" %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<h1>About</h1>
<h2>Who runs Captain's Logbook?</h2>
<p>Captain's Logbook is run by Adam LaDine LLC, which (as the name suggests) is solely owned and operated by Adam LaDine, a.k.a. <a href="/u/captainmeta4">captainmeta4</a>. ("Captain Metaphor")</p>

<h2>Is Captain’s Logbook open source?</h2>
<p>Yes! <a href="https://github.com/captainmeta4/captainslogbook">Source.</a></p>

<h2>What do the colored things in brackets mean?</h2>

<p>{% include "tags/a.html" %}- Displayed on userpages of site administrator accounts and on official administrator posts.<br>
{% include "tags/b.html" %}- Displayed in story listings on banned content (only visible to content creator)<br>
<span class="blue">[E]</span> - Displayed on content that has been edited. Hover over to see the edit timestamp.<br>
{% include "tags/m.html" %}- Displayed in listings on stories that contain mature content. You must be 18 years old to read.<br>
{% include "tags/p.html" %}- Displayed on story pages (and in story listings) that have been marked by the author as Patron-only content.<br>
{% include "tags/r.html" %}- Displayed in story listings on un-published content (only visible to content creator) </p>
{% endblock %}
