{% extends "default.html" %}

{% block title %}
<title>Captain's Logbook - Formatting</title>
<meta name="description" content="Captain's Logbook formatting guide">
{% endblock%}

{% block content %}
<h1>Formatting</h1>

Captain's Logbook uses markdown for formatting.

<table>
	<tr>
		<th>Style</th>
		<th>Markdown</th>
		<th>Displayed as</th>
	</tr>
	<tr>
		<td>Italics</td>
		<td>*italics*<br>OR<br>_italics_</td>
		<td><em>italics</em></td>
	</tr>
	<tr>
		<td>Bold</td>
		<td>**bold**<br>OR<br>__bold__</td>
		<td><b>bold</b></td>
	</tr>
        <tr>
        	<td>Strikethrough</td>
		<td>~~Strikethrough~~</td>
		<td><s>Strikethrough</s></td>
	</tr>
   <tr>
		<td>Code</td>
		<td>`code`</td>
		<td><code>code</code></td>
	</tr>
	<tr>
		<td>Table</td>
		<td>|Name|User ID|<br>|-|-|<br>|captainmeta4|1|</td>
		<td>
			<table>
				<tr>
					<th>Name</th>
					<th>User ID</th>
				</tr>
				<tr>
					<td>captainmeta4</td>
					<td>1</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

A few extra custom styles also exist.

<table>
	<tr>
		<th>Style</th>
		<th>HTML</th>
		<th>Displayed as</th>
	</tr>
	<tr>
		<td>Text messaging</td>
		<td><pre style="white-space:pre-wrap">&lt;p class="iostext-me">How are you doing?&lt;/p><br>&lt;p class="iostext-other">Not bad, how about you?&lt;/p></pre></td>
		<td><p class="iostext-me">How are you doing?</p><p class="iostext-other">Not bad, how about you?</p></td>
	</tr>
	<tr>
		<td>Colors</td>
		<td><pre style="white-space:pre-wrap">&lt;span class="red">Red&lt;/span><br>&lt;span class="green">Green&lt;/span><br>&lt;span class="blue">Blue&lt;/span></pre></td>
		<td><span class="red">Red</span><br><span class="green">Green</span><br><span class="blue">Blue</span></td>
	</tr>
</table>
{% endblock %} 
