{% extends "default.html" %}

{% block title %}
<title>401</title>
{% endblock %}

{% block content %}
<h1>401 Not Authorized</h1>
<p>The internet dragons are jealously guarding their hoard. Perhaps if you <a href="https://www.reddit.com/api/v1/authorize?client_id=mZOtvt3nHg8KoQ&duration=permanent&redirect_uri=https://www.captainslogbook.org/oauth/redirect&response_type=code&scope=identity+submi+readt&state=x">logged in with reddit</a>, they might recognize you as a friend and let you pass.</p>
{% endblock %}