{% extends "default.html" %}

{% block content %}
<h1>Home</h1>
<p>Welcome to the Captain's Logbook!</p>

<p>This is a place to host your creative writing without giving up your intellectual property rights (other than the bare minimum needed to actually run the website).</p>
<p>I do have <a href="/info/rules">a few rules</a>, but that's it.</p>
<p>To get started, authenticate with reddit. Then post a story, and share it!</p>

<hr>
<h2><a href="/b/4">News</a></h2>
<ul>
{% for s in news %}
<li><h3><a href="{{ s.url }}">{{ s.title }}</a></h3></li>
{% endfor %}
</ul>
<hr>
<h2><b>Newest Stories</b></h2>
<ul>
{% for s in l %}
{% set b=s.book() %}
<li>{% if s.patreon_threshold and s.author.patreon_id %}<span class="green">[$]</span> {% endif %} {% if s.nsfw %}<span class="red">[M]</span> {% endif %}{% if b %}[<a href="{{ b.url }}"{% if s.patreon_threshold and s.author.patreon_id %} rel="nofollow"{% endif %}>{{ b.title }}</a>] {% endif %}<a href={{ s.url }}>{{ s.title }}</a> by <a href="{{ s.author.url }}">{{ s.author.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
