{% extends "default.html" %}

{% if s.book_id %}
{% set b=s.book() %}
{% endif %}

{% block title %}
<title>{% if b %}[{{ b.title }}] {% endif %}{{ s.title }}</title>
<meta name="description" content="by {{ s.author.name }}">
{% endblock %}

{% block storynav %}
{% set n=s.next() %}
{% set p=s.previous() %}
{% if p or n %}
  <p>{% if p %}<a href="{{ p.url }}" rel="prev">Previous</a>{% endif %}{% if p and n %} | {% endif %}{% if n %}<a href="{{ n.url }}" rel="next">Next</a>{% endif %}</p>
{% endif %}
{% endblock %}

{% block adminpanel %}
{% if v.admin %}
{% if not s.banned %}
<form action="/api/banstory/{{ s.id }}" method="post">
<input type="submit" value="Ban Story">
</form>
{% endif %}
{% if s.banned %}
<form action="/api/unbanstory/{{ s.id }}" method="post">
<input type="submit" value="Unban Story">
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block authorpanel %}
  {% if v.id == s.author_id %}
    {% if not s.deleted %}
      <form action="/api/deletestory/{{ s.id }}" method="post">
      <input type="submit" value="Unpublish Story">
      </form>
    {% endif %}
    {% if s.deleted and not s.author.banned %}
      <form action="/api/undeletestory/{{ s.id }}" method="post">
      <input type="submit" value="Re-publish Story">
      </form>
    {% endif %}
    {% if not s.author.banned %}
      <a href="/edit/{{ s.id }}"><button>Edit Story</button></a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block authortracking %}
{% if s.author.google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ s.author.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ s.author.google_analytics }}');
  </script>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ s.title }}</h1>
<p>by <a href="/u/{{ s.author.name }}">{{ s.author.name }}</a> {% if s.author.patreon and not s.author.banned %} | {% if s.patreon_threshold %}<span class="green">[$] </span>{% endif %}<a href="https://patreon.com/{{ s.author.patreon }}">Patreon</a>{% endif %}<br>
{{ s.created_date }} {% if s.distinguished %}|{% include "tags/a.html"%}{% endif %}{% if s.edited %}|{% include "tags/e.html"%}{% endif %}</p>
{% if b %}
<p>Part of <em><a href="{{ b.url }}">{{ b.title }}</a></em></p>
{% endif %}
{% if s.banned or s.deleted or s.author.banned or s.nsfw or s.patreon_threshold %}
<p>{% if s.banned %}<b><span class="red">[This story has been removed by the site administrators.]</span></b><br>{% endif %}
{% if s.deleted %}<b><span class="red">[This story has been unpublished by its author.]</span></b><br>{% endif %}
{% if s.nsfw %}<b><span class="red">[This story contains adult content.]</span></b><br>{% endif %}
{% if s.patreon_threshold %}<b><span class="green">[For Patrons of {{ s.author.name }} only. Threshold: ${{ d }}.{{ c }}]</span></b>{% endif %}</p>
{% endif %}
{% if (v.admin or v.id==s.author_id) or (not s.banned and not s.deleted and (v.over18 or not s.nsfw) and (pledge_cents>=s.patreon_threshold or not s.author.patreon_id)) %}
	<hr>
	{% if s.pre %}
		<p><b>Author's Note:</b></p>
		<p>{{ s.pre|safe }}</p>
		<hr>
	{% endif %}
	{{ s.story|safe }}
	{% if s.post %}
		<hr>
		<p><b>Author's Note:</b></p>
		<p>{{ s.post|safe }}</p>
	{% endif %}
{% elif pledge_cents < s.patreon_threshold and not s.banned and not s.deleted %}
	<hr>
	<p>This content is only for patrons of {{ s.author.name }} with a pledge of at least ${{ d }}.{{ c }}.</p>
	<p>If you're already a Patron, and you've <a href="/settings">linked your Patreon account</a>, try making a $0.01 edit to your pledge. (Editing your pledge makes Patreon send an update to Captain's Logbook).</p>
	<p>If that still doesn't work, ask {{ s.author.name }} to make sure their own Patreon settings are correctly configured.</p>
{% elif s.nsfw %}
	<hr>
	<p>You need to sign in with reddit and be over 18 years old to read this.</p>
{% endif %}
{% endblock %}
