{% extends "default.html" %}

{% block title %}
<title>Create Story</title>
{% endblock %}

{% block content %}

<h1>Create Story</h1>

<form action="/api/submit" method="post">
Title:<br>
<input type="text" name="title" required><br>
Include this story in a book:<br>
<select name="book">
<option value="0">---None---</option>
{% for b in v.books() %}
<option value="{{ b.id }}">{{ b.title }}</option>
{% endfor %}
{% if v.admin %}<option value="4">News</option>{% endif %}
</select></br>
<input type="checkbox" name="nsfw">Mark NSFW?<br>
{% if v.patreon_campaign_id %}
Restrict story to Patreon supporters with pledge of: <input type="text" value="0" name="patreon_threshold>
{% endif %}
<input type="text" name="subtitle"><br>
Markdown is supported in all fields below.<br>
Pre-story author note:<br>
<textarea name="pre"></textarea><br>
Story Contents:<br>
<textarea name="story" required></textarea><br>
Post-story author note:<br>
<textarea name="post"></textarea><br>
{% if not v.agreed %}<input id="agree-box" type="checkbox" name="agreed" required><label for="agree-box" required>I have read and agree to <a href="/rules">the rules.</a></label><br>{% endif %}
<input type="submit" value="Save">
</form>
{% endblock %}
