{% extends "default.html" %}

{% block title %}
<title>Your Data</title>
<meta name="description" content="All personal data associated with your Captain's Logbook account.">
{% endblock %}

{% block content %}
<h1>Your Data</h1>
<p>This is the data that is connected to your Captain's Logbook account.</p>
<table>
<tr>
<th>Key</th>
<th>Value</th>
</tr>
{% for k in v.__dict__ %}
<tr>
<td>{{ k }}</td>
<td style="word-wrap:break-word">{{ v.__dict__[k] }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
