{% extends "default.html" %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<h1>About</h1>
<h2>Who runs Captain's Logbook?</h2>
<p>Captain's Logbook is run by Adam LaDine LLC, which (as the name suggests) is solely owned and operated by Adam LaDine, a.k.a. <a href="/u/captainmeta4">captainmeta4</a>. ("Captain Metaphor")</p>

<h2>Is Captain’s Logbook open source?</h2>
<p>Yes! <a href="https://github.com/captainmeta4/captainslogbook">Source.</a></p>

<h2>What do the colored things in brackets mean?</h2>
<p><span class="red">[A]</span> - Displayed on userpages of site administrator accounts and on official administrator posts.<br>
<span class="blue">[E]</span> - Displayed on content that has been edited. Hover over to see the edit timestamp.<br>
<span class="red">[M]</span> - Displayed in listings on stories that contain mature content. You must be 18 years old to read.
<span class="green">[$]</span> - Displayed on story pages (and in story listings) that have been marked by the author as Patron-only content.</p>
{% endblock %}