{% if s %}
{% if not s.banned %}
<form action="/api/banstory/{{ s.id }}" method="post">
<input type="submit" value="Ban Story">
</form>
{% endif %}
{% if s.banned %}
<form action="/api/unbanstory/{{ s.id }}" method="post">
<input type="submit" value="Unban Story">
</form>
{% endif %}
{% endif %}
{% if u %}
{% if not u.banned %}
<form action="/api/banuser/{{ u.id }}" method="post">
<input type="submit" value="Ban User">
</form>
{% endif %}
{% if u.banned %}
<form action="/api/unbanuser/{{ u.id }}" method="post">
<input type="submit" value="Unban User">
</form>
{% endif %}
{% endif %}