{% extends "default.html" %}

{% block content %}
<h1>{{ b.title }}</h1>
<p>by <a href="/u/{{ b.author.name }}">{{ b.author.name }}</a> on {{ b.created_date }}</p>
{% if b.banned %}
	<p><b><span class="red">[This book has been removed by the site administrators.]</span></b></p>
{% endif %}
{% if b.author.banned %}
	<p><b><span class="red">[This story’s author is banned.]</span></b></p>
{% endif %}
{% if (v.admin or v.id==b.author_id) or (not b.banned) %}
<hr>
{{ b.description|safe }}
<hr>
<ol>
{% for s in b.stories() %}
{% if ((v.admin or v.id==b.author_id) or (not s.banned and not s.deleted)) %}<li><a href="{{ s.url }}">{% if s.banned or s.deleted %}<s>{{ s.title }}</s>{% else %}{{ s.title }}{% endif %}</a></li>{% endif %}
{% endfor %}
</ol>
{% endif %}
{% endblock %}