{% extends "default.html" %}

{% block title %}
<title>{{ b.title }}</title>
<meta name="description" content="{{ b.description }}>
{% endblock %}

{% block adminpanel %}
{% if v.admin %}
{% if not b.banned %}
<form action="/api/banbook/{{ b.id }}" method="post">
<input type="submit" value="Ban Book">
</form>
{% endif %}
{% if b.banned %}
<form action="/api/unbanbook/{{ b.id }}" method="post">
<input type="submit" value="Unban Book">
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block authorpanel %}
{% if v %}
  {% if v.id == b.author_id %}
    {% if not b.deleted %}
      <form action="/api/deletebook/{{ b.id }}" method="post">
      <input type="submit" value="Unpublish Book">
      </form>
    {% endif %}
    {% if b.deleted %}
      <form action="/api/undeletebook/{{ b.id }}" method="post">
      <input type="submit" value="Re-publish Book">
      </form>
    {% endif %}
    {% if not b.author.banned %}
      <a href="/editbook/{{ b.id }}"><button>Edit Book</button></a>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}

{% block authortracking %}
{% if b.author.google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ b.author.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ b.author.google_analytics }}');
  </script>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ b.title }}</h1>
<p>by <a href="/u/{{ b.author.name }}">{{ b.author.name }}</a> on {{ b.created_date }}{% if b.author.patreon and not b.author.banned %} | <a href="https://patreon.com/{{ b.author.patreon }}">Patreon</a>{% endif %}</p>

{% if b.banned %}
	<p><b><span class="red">[This book has been removed by the site administrators.]</span></b></p>
{% endif %}
{% if b.deleted %}
	<p><b><span class="red">[This book has been unpublished by its author.]</span></b></p>
{% endif %}
{% if b.author.banned %}
	<p><b><span class="red">[This story’s author is banned.]</span></b></p>
{% endif %}
{% if (v.admin or v.id==b.author_id) or (not b.banned and not b.deleted) %}
<hr>
{{ b.description|safe }}
<hr>
<ol>
{% for s in b.stories() | sort(attribute="id") %}
{% if ((v.admin or v.id==b.author_id) or (not s.banned and not s.deleted)) %}<li><a href="{{ s.url }}">{% if s.banned or s.deleted %}<s>{{ s.title }}</s>{% else %}{{ s.title }}{% endif %}</a></li>{% endif %}
{% else %}
<li><em>None yet!</em></li>
{% endfor %}
</ol>
{% endif %}
{% endblock %}