{% extends "default.html" %}

{% block content %}

<h1>Edit Story</h1>

<form action="/api/edit/{{ s.id }}" method="post">
Title:<br>
<input type="text" name="title" value="{{ s.title }}">
<input type="text" name="subtitle">
Markdown is supported in all fields below.<br>
Pre-story author note:<br>
<textarea name="pre">{{ s._pre_raw }}</textarea><br>
Story Contents:<br>
<textarea name="story">{{ s._story_raw }}</textarea><br>
Post-story author note:<br>
<textarea name="post">{{ s._post_raw }}</textarea><br>
<input type="submit" value="Save">
</form>
{% endblock %}