<h1><a href="/">The Captain's Logbook</a></h1>
<input id="night-toggle" type="checkbox" onClick="nightToggle()"></input>
<label for="night-toggle">Night Mode</label>
<hr>
{% if v %}
  <p><a href="{{ v.url }}">{{ v.name }}</a>{% if not v.banned %} | <a href="/submit">Create Story</a> | <a href="/makebook">Create Book</a></p>
{% endif %}
{% else %}
  <p><a href="https://www.reddit.com/api/v1/authorize?client_id={{ "client_id" | os_get }}&duration=permanent&redirect_uri={{ "reddit_uri" | os_get }}&response_type=code&scope=identity+submit&state=x" target="_blank">Log in with Reddit</a></p>
{% endif %}
