<h1>The Captain's Logbook</h1>
<input id="night-toggle" type="checkbox" onClick="nightToggle()"></input>
<label for="night-toggle">Night Mode</label>
{% if v %}
<p><a href="{{ v.id }}">{{ v.name }}</a></p>
{% if v.admin %}
{% include "adminpanel.html" %}
{% endif %}
{% else %}
<p><a href="https://www.reddit.com/api/v1/authorize?client_id=mZOtvt3nHg8KoQ&duration=permanent&redirect_uri=http://www.captainslogbook.org/oauth/redirect&response_type=code&scope=identity+submit&state=x" target="_blank">Log in with Reddit</a></p>
{% endif %}
