<h1><a href="/">The Captain's Logbook</a></h1>
<input id="night-toggle" type="checkbox" onClick="nightToggle()"></input>
<label for="night-toggle">Night Mode</label>
<hr>
{% if v %}
<p><a href="{{ v.url }}">{{ v.name }}</a>{% if not v.banned %} | <a href="/submit">Create Story</a> | <a href="/makebook">Create Book</a></p>{% endif %}
{% if s %}
{% set n=s.next() %}
{% set p=s.previous() %}
{% if p or n %}
<p>{% if p %}<a href="{{ p.url }}">Previous</a>{% endif %}{% if p and n %} | {% endif %}{% if n %}<a href="{{ n.url }}">Next</a>{% endif %}</p>
{% endif %}
{% if v.admin %}
{% include "adminpanel.html" %}
{% endif %}
{% if s %}
{% if s.author_id == v.id %}
{% include "authorpanel.html" %}
{% elif b %}
{% if b.author_id == v.id %}
{% include "bookpanel.html" %}
{% endif %}
{% endif %}
{% else %}
<p><a href="https://www.reddit.com/api/v1/authorize?client_id=mZOtvt3nHg8KoQ&duration=permanent&redirect_uri=http://www.captainslogbook.org/oauth/redirect&response_type=code&scope=identity+submit&state=x" target="_blank">Log in with Reddit</a></p>
{% endif %}
{% endif %}
