{% extends "default.html" %}

{% block content %}
<h1>Home</h1>
<p>Welcome to the Captain's Logbook!</p>

<p>This is a place to host your creative writing.</p>
<p>By using Captain's Logbook to host your writing, you give me permission to freely modify (for security and safety reasons), store, copy, and distribute your writing, in order to run Captain's Logbook. That's it. I won't try to sell your work, and you will always be attributed as the author (by way of your reddit username). You retain all other intellectual property rights.</p>
<p>I do have <a href="/rules">a few brief rules</a>, but that's it.</p>
<p>To get started, authenticate with reddit. Then post a story, and share it!</p>

<hr>
<p><b>Newest Stories</b></p>
<ul>
{% for s in l %}
<li><a href={{ s.url }}>{{ s.title }}</a> by <a href="{{ s.author.url }}">{{ s.author.name }}</li>
{% endfor %}
</ul>
{% endblock %}