{% extends "default.html" %}

{% block content %}
<h1>Home</h1>
<p>Welcome to the Captain's Logbook!</p>

<p>This is a place to host your creative writing without giving up your intellectual property rights (other than the bare minimum needed to actually run the website).</p>
<p>I do have <a href="/info/rules">a few rules</a>, but that's it.</p>
<p>To get started, authenticate with reddit. Then post a story, and share it!</p>

<hr>
<p><b>Newest Stories</b></p>
<ul>
{% for s in l %}
{% set b=s.book() %}
<li>{% if b %}[<a href="{{ b.url }}">{{ b.title }}</a>] {% endif %}<a href={{ s.url }}>{{ s.title }}</a> by <a href="{{ s.author.url }}">{{ s.author.name }}</li>
{% endfor %}
</ul>
{% endblock %}