{% extends "default.html" %}

{% block content %}
<h1>Home</h1>
<p>Welcome to the captain's logbook!</p>

<p>This is a place to host your creative writing, outside of reddit's intellectual property grab.</p>
<p>By using Captain's Logbook to host your writing, you give me permission to freely modify, store, copy, and distribute your writing for the purposes of running Captain's Logbook. That's it. I won't try to sell your work, and you will always be attributed as the author (by way of your reddit username).</p>
<p>I do have a few <a href="/rules">rules</a>, but
<p>To get started, authenticate with reddit. Then post a story, and share it.</p>

<hr>
<p><b>Newest Stories</b></p>
<ul>
{% for s in l %}
<li><a href={{ s.url }}>{{ s.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}