{% extends "default.html" %}
{% block title %}
<title>Rules</title>
{% endblock %}

{% block content %}
<h1>Terms of Use</h1>

<h2>Acceptable Use Policy</h2>
<p>You agree not to upload to Captain's Logbook any content that:</p>
<ul>
<li>is not in English</li>
<li>is primarily erotic</li>
<li>includes sexual or sexually suggestive material involving minors</li>
<li>solicits transactions of any sort (except patronage or tips for good writing)</li>
<li>not originally created by you and not properly licensed to you</li>
<li>includes personal or confidential information</li>
<li>encourages or incites IRL violence</li>
<li>harasses, or encourages harassement of, other people (either online or IRL)</li>
<li>is digitally malicious</li>
<li>is spam</li>
</ul>
<p>You agree that Captain’s Logbook can remove content and suspend or terminate users deemed to violate the Acceptable Use Policy.</p>

<h2>Privacy Policy</h2>
<p>I use cookies. Who doesn't? Cookies are used for authentication and to enhance reader experience. By using Captain's logbook, you agree to the use of cookies.</p>
<p>You also ageee to let Captain’s Logbook collect anonymizes usage data.</p>

<h2>Legal stuff</h2>

<h3>Intellectual Property</h3>
<p>You grant Captain’s Logbook a permanent, irrevocable, royalty-free license to modify, store, copy, and distribute your creative content. This license is non-exclusive, and may be sub-licensed by Captain's Logbook to its own service providers, such as data storage services.</p>

<h3>Liability</h3>
<p>You will not hold Captain's Logbook liable for damages arising from: the use of Captain's Logbook, the failure of Captain's Logbook, loss of data, breach of data, or the unauthorized access of a third party to your account. Further, you will not hold Captain's Logbook liable for unauthorized access to your reddit account.</p>

<h3>DMCA</h3>

<p>Send me a <a href="https://reddit.com/u/captainmeta4">message on reddit</a> to report copyright abuse. Integrated reporting coming soon.</p>

<h3>GDRP</h3>

<p>Captain’s Logbook and associated databases are based out of the United States, and are outside the jurisdiction of EU law. That said, you can see access almost all information associated with your account by viewing your profile page while authenticated.</p>

{% endblock %}
