{% extends "default.html" %}
{% block content %}
<h1>Terms of Use</h1>

<h2>Don't...</h2>
<p>...use Captain's Logbook for content that:</p>
<ul>
<li>is not in English</li>
<li>is primarily erotic</li>
<li>includes sexual or sexually suggestive material involving minors</li>
<li>solicits transactions of any sort (except patronage or tips for good writing)</li>
<li>is owned by someone other than you (unless you have that person’s permission)</li>
<li>includes personal or confidential information</li>
<li>encourages or incites IRL violence</li>
<li>harasses, or encourages harassement of, other people (either online or IRL)</li>
<li>is spam</li>
</ul>

<h2>Legal stuff</h2>
<p>By posting your creative writing here, you agree to give Captain’s Logbook permission to modify, store, copy, and distribute it. You also agree that Captain’s Logbook can remove content and users that violates the rules, in the Captain’s sole discretion.</p>

<h2>DMCA</h2>

<p>Send me a message on reddit to report copyright abuse. Integrated reporting coming soon.</p>

<h2>GDRP</h2>

<p>Captain’s Logbook is based out of the United States and is not subject to European law. That said, you can see (almost) all information associated with your account by viewing your profile page while authenticated.</p>

{% endblock %}