{% extends "default.html" %}
{% block content %}
<h1>Terms of Use</h1>

<h2>Don't...</h2>
<p>...use Captain's Logbook for content that:</p>
<ul>
<li>is not in English</li>
<li>is primarily erotic</li>
<li>includes sexual or sexually suggestive material involving minors</li>
<li>solicits transactions of any sort (except patronage or tips for good writing)</li>
<li>includes personal or confidential information</li>
<li>encourages or incites IRL violence</li>
<li>harasses, or encourages harassement of, other people (either online or IRL)</li>
<li>is spam</li>
</ul>

<h2>Do...</h2>
<p>...write good stories.</p>
{% endblock %}