{% extends "default.html" %}

{% block title %}
<title>{{ s.title }}</title>
{% endblock %}

{% block authoranalytics %}
{$ if s.author.google_analytics != "              " %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ s.author.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ s.author.google_analytics }}');
  </script>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ s.title }}</h1>
<p>by <a href="/u/{{ s.author.name }}">{{ s.author.name }}</a> on {{ s.created_date }}</p>
{% if s.book_id %}
{% set b=s.book() %}
<p>Part of <em><a href="{{ b.url }}">{{ b.title }}</a></em></p>
{% endif %}
{% if s.banned %}
	<p><b><span class="red">[This story has been removed by the site administrators.]</span></b></p>
{% endif %}
{% if s.deleted %}
	<p><b><span class="red">[This story has been unpublished by its author.]</span></b></p>
{% endif %}
{% if s.author.banned %}
	<p><b><span class="red">[This story’s author is banned.]</span></b></p>
{% endif %}
{% if (v.admin or v.id==s.author_id) or (not s.banned and not s.deleted) %}
	<hr>
	{% if s.pre %}
		<p><b>Author's Note:</b> {{ s.pre|safe }}</p>
		<hr>
	{% endif %}
	{{ s.story|safe }}
	{% if s.post %}
		<hr>
		<p><b>Author's Note:</b> {{ s.post|safe }}</p>
	{% endif %}
{% endif %}
{% endblock %}