{% extends "default.html" %}

{% block content %}

<h1>Submit</h1>

<form action="/api/submit" method="post">
Title:<br>
<input type="text" name="title" style="width:100%"><br>
Pre-story author note:<br>
<textarea name="pre" style="height:auto; min-height:200px; width=300px; max-width=100%"></textarea><br>
Story Contents:<br>
<textarea name="story" style="height:auto; min-height:200px; width=300px; max-width=100%"></textarea><br>
Post-story author note:<br>
<textarea name="post" style="height:auto; min-height:200px; width=300px; max-width=100%"></textarea><br>
<input type="submit" value="Save">
</form>
{% endblock %}