{% extends "default.html" %}

{% block title %}
<title>{{ u.name }}</title>
<meta name="description" content="on Captain's Logbook">
{% endblock %}

{% block adminpanel %}
{% if v.admin %}
{% if not u.banned %}
<form action="/api/banuser/{{ u.id }}" method="post">
<input type="submit" value="Ban User">
</form>
{% endif %}
{% if u.banned %}
<form action="/api/unbanuser/{{ u.id }}" method="post">
<input type="submit" value="Unban User">
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ u.name }}</h1>
{% if u.banned %} <p><span class="red"><b>[This user is banned.]</b></span></p>{% endif %}
{% if v.admin or v.id==u.id or not u.banned %}
<p>{% if u.admin %}<span class="red">[A]</span> {% endif %}User since: {{ u.created_date }}{% if u.patreon and not u.banned %} | <a href="https://patreon.com/{{ u.patreon }}">Patreon</a>{% endif %}</p>
<hr>
<h2><b>Stories</b></h2>
{% for b in u.books() if ((v.admin or v.id==u.id) or (not b.banned and not b.deleted)) %}
<h3><a href="{{ b.url }}">{% if b.banned or b.deleted %}<s>{{ b.title }}</s>{% else %}{{ b.title }}{% endif %}</a></h3>
<ol>
{% for s in b.stories() if (v.admin or v.id==u.id) or (not s.banned and not s.deleted) | sort(attribute="id") %}
<li>% if s.patreon_threshold and u.patreon_id %}<span class="green">[$]</span> {% endif %}<a href="{{ s.url }}">{% if s.banned or s.deleted %}<s>{{ s.title }}</s>{% else %}{{ s.title }}{% endif %}</a></li>
{% endfor %}
</ol>
{% endfor %}
<h3>Standalone Stories</h3>
<ul>
{% for s in u.stories() if ((v.admin or v.id==u.id) or (not s.banned and not s.deleted)) and s.book_id==0 %}
<li>{% if s.patreon_threshold and u.patreon_id %}<span class="green">[$]</span> {% endif %}<a href="{{ s.url }}">{% if s.banned or s.deleted %}<s>{{ s.title }}</s>{% else %}{{ s.title }}{% endif %}</a></li>
{% else %}
<li><em>None yet!</em></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
