{% extends "default.html" %}

{% block content %}
<h1>{{ u.name }}</h1>
{% if u.banned %} <p><span class="red"><b>[This user is banned.]</b></span></p>{% endif %}

<p>User since: {{ u.created_date }}</p>
<hr>
<h2><b>Stories</b></h2>

{% for b in u.books %}
<h3>{{ b.title }}</h3>
<ol>
{% for s in b.stories %}
{% if (v.admin or v.id==u.id) or (not s.banned and not s.deleted) %}<li><a href="{{ s.url }}">{% if s.banned or s.deleted %}<s>{{ s.title }}</s>{% else %}{{ s.title }}{% endif %}</a></li>{% endif %}
{% endfor %}
</ol>
{% endfor %}
<h3>Standalone Stories</h3>
<ul>
{% for s in u.stories %}
{% if ((v.admin or v.id==u.id) or (not s.banned and not s.deleted)) and (s.book_id == 0) %}<li><a href="{{ s.url }}">{% if s.banned or s.deleted %}<s>{{ s.title }}</s>{% else %}{{ s.title }}{% endif %}</a></li>{% endif %}
{% else %}
<li><em>None yet!</em></li>
{% endfor %}
</ul>

{% endblock %}
